# Copyright (c) 2020 Eric Lau
# SPDX-License-Identifier: MIT

if BOARD_BLUESOF_LEFT

	config ZMK_KEYBOARD_NAME
	default "BlueSof"

endif # BOARD_BLUESOF_LEFT

if BOARD_BLUESOF_RIGHT

	config ZMK_KEYBOARD_NAME
	default "BlueSof (right)"

endif # BOARD_BLUESOF_RIGHT


if BOARD_BLUESOF_LEFT || BOARD_BLUESOF_RIGHT

config BOARD
	default "bluesof"

config ZMK_SPLIT
	default y

config I2C
	bool
	default y

menuconfig SENSOR
    bool "Sensor Drivers"

#onfig MAX17055
#    bool "MAX17055 Fuel Gauge"
#    depends on I2C && SENSOR

#config SPI
#    bool
#    default y

config BT_CTLR
	default BT

config ZMK_BLE
	default y

config ZMK_USB
	default y

#config ZMK_BATTERY_VOLTAGE_DIVIDER  # is this correct?
#	default n

if USB

config USB_NRFX
	default y

config USB_DEVICE_STACK
	default y

endif # USB

#if ZMK_DISPLAY

#config SPI
#	default y

#config IL0323
#	default y

#endif # ZMK_DISPLAY

#if LVGL

#config LVGL_HOR_RES_MAX
#	default 80

#config LVGL_VER_RES_MAX
#	default 128

#config LVGL_VDB_SIZE
#	default 100

#config LVGL_DPI
#	default 145

#config LVGL_BITS_PER_PIXEL
#	default 1

#choice LVGL_COLOR_DEPTH
#	default LVGL_COLOR_DEPTH_1
#endchoice

#endif # LVGL

endif # BOARD_BLUESOF_LEFT || BOARD_BLUESOF_RIGHT

