# BlueSof board configuration

# Copyright (c) 2020 Eric Lau
# SPDX-License-Identifier: MIT

config BOARD_BLUESOF_LEFT
	bool "bluesof_left"
	depends on SOC_NRF52840_QIAA

config BOARD_BLUESOF_RIGHT
	bool "bluesof_right"
	depends on SOC_NRF52840_QIAA
